<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="request">
    <!-- Modal -->
    <div id="request-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form action="/request" method="post">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Make a request!</h4>
                    </div>
                    <div class="modal-body">
                        <label for="name">Request title</label><br/>
                        <input id="name" name="name" required="required" maxlength="255" minlength="5"><br/>
                        <label for="description">Detalied description of the request</label><br/>
                        <textarea id="description" name="description" required="required" maxlength="255" minlength="5"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" type="submit">Request</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Admin Login modal -->
<div th:fragment="meme-modal">
    <!-- Modal -->
    <div id="meme-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Random Meme</h4>
                </div>
                <div class="modal-body">
                    <p>No easter egg here</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Simple user login modal -->
<div th:fragment="login">
    <!-- Modal -->
    <div id="login-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="login" method="post" name="f">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <label for="username">Username</label><br/>
                        <input id="username" name="username" required="required"><br/>
                        <label for="password">Password</label><br/>
                        <input id="password" name="password" type="password" required="required"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- User registration modal-->
<div th:fragment="userReg">
    <!-- Modal -->
    <div id="user-reg-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form action="/register" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Register</h4>
                    </div>
                    <div class="modal-body">
                        <label for="userNameRegistrationField">Username</label><br/>
                        <input id="userNameRegistrationField" maxlength="255" minlength="5" name="userName" required="required"><br/>
                        <label for="passwordRegistrationField">Password</label><br/>
                        <input id="passwordRegistrationField" maxlength="255" minlength="5" name="password" type="password" required="required"/><br/>
                        <label for="matchingPasswordField">Repeat password</label><br/>
                        <input id="matchingPasswordField" maxlength="255" minlength="5" name="matchingPassword" type="password"
                               required="required"/><br/>
                        <label for="email">E-mail address</label><br/>
                        <input id="email" name="email" maxlength="255" minlength="5" required="required">
                    </div>
                    <div class="modal-footer">
                        <button class="btn" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>
</html>