<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>References</title>
    <link rel="stylesheet" type="text/css" href="css/referencePageStyle.css">
</head>
<body>
    <section id="navbar" th:target="this" th:include="navbar"></section>
    <div id="columns">
        <figure>
            <img name="reference" th:width="3168/11" th:height="4224/11" th:src="@{/img/image_1.jpg}"/>
            <figcaption>Name: Háde én nem tudom <br/>Complexity: 5 <br/>Hours spent: 10</figcaption>
        </figure>
        <figure>
            <img th:width="3168/10" th:height="4224/10" th:src="@{/img/image_2.jpg}"/>
            <figcaption>Name: Nem vagyok jó nevekkel <br/>Complexity: 7 <br/>Hours spent 15</figcaption>
        </figure>
        <figure>
            <img th:width="3168/10" th:height="4224/10" th:src="@{/img/image_3.jpg}"/>
            <figcaption>Name: Nem vagyok jó nevekkel <br/>Complexity: 7 <br/>Hours spent 15</figcaption>
        </figure>
        <figure>
            <img th:width="3168/10" th:height="4224/10" th:src="@{/img/image_4.jpg}"/>
            <figcaption>Name: Nem vagyok jó nevekkel <br/>Complexity: 7 <br/>Hours spent 15</figcaption>
        </figure>
        <figure>
            <img th:width="3168/10" th:height="4224/10" th:src="@{/img/image_5.jpg}"/>
            <figcaption>Name: Nem vagyok jó nevekkel <br/>Complexity: 7 <br/>Hours spent 15</figcaption>
        </figure>
        <figure>
            <img th:width="3168/10" th:height="4224/10" th:src="@{/img/image_6.jpg}"/>
            <figcaption>Name: Nem vagyok jó nevekkel <br/>Complexity: 7 <br/>Hours spent 15</figcaption>
        </figure>
        <figure>
            <img th:width="3168/10" th:height="4224/10" th:src="@{/img/image_7.jpg}"/>
            <figcaption>Name: Nem vagyok jó nevekkel <br/>Complexity: 7 <br/>Hours spent 15</figcaption>
        </figure>
    </div>

</body>
</html>