<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>References</title>
    <link rel="stylesheet" type="text/css" href="css/referencePageStyle.css">
</head>
<body>
<section id="navbar" th:target="this" th:include="navbar"></section>
<div>
    <div th:unless="${active == null}">
        <p th:text="'Currently wroking on ' + ${active.getRequestName()} + ' by ' + ${active.getUsername()}"></p>
        <p th:text="${allRequests.size() - 1} + ' other requests are accepted'"></p>
    </div>
    <div th:if="${active == null}">
        <p th:text="'No requests are active currently'"></p>
        <p th:text="${allRequests.size()} + ' requests are accepted'"></p>
    </div>
</div>
<div id="columns">
    <figure th:each="image: ${images}">
        <img name="reference" th:src="${image.getLocation()}"/>
        <figcaption th:text="'Name: ' + ${image.getName()}"></figcaption>
        <figcaption th:text="'Complexity: ' + ${image.getComplexity()}"></figcaption>
        <figcaption th:text="'Hours spent: ' + ${image.getHours()}"></figcaption>
    </figure>
</div>

</body>
</html>