<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div id="story" class="shadow p-3 mb-5 bg-white rounded">
    <img id="face" th:src="@{/img/face.jpeg}">
    <p>Hi! My name is Vivien. I'm a 20 years old artist.</p>
    <p>My enormous love for art has showed itself on my at quite a young age. To be honest, I was like every kid in my
        age: I drew constantly. To paper, to books but even on the wall (Sorry Mom :( ) later as I began to be older
        this passion became even stronger thanks to my older brother who at the time used to draw a lot as well which I
        spent a lot of time with and became exemplar. </p>

    <p>I have taken part in numerous events hosted by my school and by the town I'm living in. Every time I have gotten
        quite nice placements.</p>
    <p>I have won several of these contests in my at the time age group. </p>
    <p>Tradtional art is what's closest to my heart, since I have gained the most experience from it over a decade I've
        been drawing. I make mostly realistic arts. Portraits, landscape drawings, usually in black and white - but I'm
        not aftaid of abstract or more comical, cartoonish styles either.</p>

    <p>I used to paint as well (Still to my wall, Still sorry Mom :( ) but these are more like graffity arts instead of
        the usual things I'm doing on paper.</p>
    <p>My works that has been made with digital technologies are defined by my original style and vibrating colors. I'm
        still way more comfortable using traditional pen and paper drawings but I'm trying to use this style as well in
        order to make even more stunning arts both to myself and to others</p>
    <p>I'm working with several programs to do this style of my hobby with. I mainly Photoshop. I have became quite
        familiar with it over this few months I've been using it.</p>

    <p>Recently I started to do some 3D modelling, but more into the vast world of animating and my first bigger project
        has begun where I'm animating one of my own stories.</p>

    <p>As for a last thing about a year ago - because of my close friends have been suggesting me and also I wanted to
        do it before - I have started to work as a tattoo artist.</p>
</div>
</body>
</html>