<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="story" class="shadow p-3 mb-5 bg-white rounded">
        <img id="face" src="http://via.placeholder.com/300">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu tempor leo, ut tempor massa.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque varius neque
            in
            ante
            interdum, non scelerisque neque egestas. Nam commodo dictum orci, vitae lacinia felis ullamcorper vel. Nulla
            auctor
            risus vel tellus euismod accumsan. Vivamus iaculis diam eros. Proin id laoreet leo. Morbi id quam sit amet
            nisl
            porttitor congue ut sit amet enim. Suspendisse condimentum molestie dictum. Donec sed rhoncus est. Maecenas
            gravida
            ornare ornare. Aliquam facilisis, risus id euismod ornare, diam nisl hendrerit nisi, ut hendrerit mauris
            dolor
            sed
            ante. Aliquam sodales erat dignissim arcu condimentum mattis. Curabitur gravida aliquam magna et euismod.
            Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

            Nullam finibus leo vel fermentum egestas. Mauris quis felis at felis congue pharetra. Praesent consectetur
            pretium
            ullamcorper. Donec nec mauris at dolor vulputate vestibulum sed in enim. Maecenas a mi id erat finibus
            malesuada
            a
            sed mauris. Aliquam quis finibus est. Nunc sed sem mi. Pellentesque elit velit, pharetra eu pellentesque eu,
            dignissim vitae lorem. Nunc dui nulla, sodales vel erat non, finibus pretium purus. Nunc mattis aliquet
            purus
            eget
            vestibulum. Suspendisse eleifend odio ac enim malesuada, id elementum turpis finibus. Maecenas vel est urna.
            In
            hac
            habitasse platea dictumst.

            Pellentesque eu massa id justo suscipit egestas. Phasellus gravida, metus a euismod volutpat, justo leo
            aliquam
            elit, vel accumsan diam ipsum et neque. Vivamus interdum mattis consequat. Nulla facilisi. Praesent purus
            ligula,
            eleifend ut nulla nec, finibus scelerisque ipsum. Nulla pharetra et metus sit amet suscipit. Phasellus ac
            odio
            dolor. Quisque at rutrum urna, ac elementum metus. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices
            posuere cubilia Curae;

            Sed rhoncus commodo suscipit. Praesent auctor lacinia pharetra. Proin vel est pulvinar, tristique quam nec,
            congue
            massa. Duis eu erat quis quam consectetur lobortis. Quisque quis orci imperdiet, tempor sapien a, egestas
            dui.
            Nam
            condimentum, velit ut vestibulum commodo, mauris orci molestie lacus, ultricies placerat orci ligula et
            risus.
            Praesent id sagittis est. Phasellus vitae dui in lorem condimentum commodo. Aenean nec porttitor ipsum.
            Proin
            sagittis vestibulum justo quis accumsan. Praesent leo sem, dictum sed ornare a, accumsan laoreet nisl. Donec
            at
            tempus elit. Etiam in quam nulla. Morbi molestie scelerisque quam, quis condimentum augue volutpat non.

            Mauris commodo nunc id magna iaculis pellentesque eu non lorem. Fusce sapien dolor, scelerisque at mollis
            id,
            facilisis tempor risus. Duis in arcu interdum, lobortis augue non, molestie ante. Donec elementum nisl eu ex
            pharetra, in ullamcorper quam fermentum. Ut vitae dui sit amet sem vestibulum venenatis eget in mauris. Sed
            in
            cursus justo, et molestie diam. Nunc fermentum fermentum nunc. Proin venenatis sollicitudin aliquam. Cras
            elit
            massa, elementum non leo ut, fermentum euismod neque.

        </p>
    </div>
</body>
</html>